#mostrador{
    padding: 5%;
    border-style: solid;
    max-width: 400px;

}
#cuadroID{
    padding: 20px;
    max-width: 400px;
    margin: 0;
}
.border-hidden{
    border-style: hidden;
}
.border-solid{
    border-style: solid;
}
.border-dashed{
    border-style: dashed;
}
.border-dotted{
    border-style: dotted;
}
.border-groove{
    border-style: groove;
}
.border-double{
    border-style: double;
}